<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<main>
<div class="container">
<div class="row">
<div class="px-3 mx-auto">
<h1>
    Welcome to 
    <i class="fas fa-book"></i>
    <strong>Bookers!!</strong>
</h1>
<p>
    in
    <i class="fas fa-book"></i>
    <strong>Bookers</strong>
    ,
</p>
<p>
    you can share and exchange your opinions , inpressions , and emotions
</p>
<p>
    about various books!
</p>

<div class="btn-wrapper col-10 mx-auto">
<p>
    <%= link_to 'Log in', new_user_session_path, class: "btn btn-info btm-sm btn-block mb-3" %>
</p>
<p>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btm-sm btn-block mb-3" %>
</p>
</div>

</div>
</div>
</div>

</main>